<div class="button">
  <!-- BUTTON -->
  <div id="button" class="heading">Button</div>
  <formless-card>
    <div class="margin-bottom title">Standard Buttons</div>
    <div class="row">
      <formless-button [text]="'Click'" (click)="click()"></formless-button>
      <formless-button [text]="'Click'" [inverse]="true" (click)="click()"></formless-button>
      <formless-button [text]="'Click'" [color]="'#15ca53'" (click)="click()"></formless-button>
      <formless-button [text]="'Click'" [color]="'#15ca53'" [inverse]="true" (click)="click()"></formless-button>
    </div>
    <div class="margin-top margin-bottom title">Disabled Buttons</div>
    <div class="row">
      <formless-button [text]="'Click'" [disabled]="true" (click)="click()"></formless-button>
      <formless-button [text]="'Click'" [inverse]="true" [disabled]="true" (click)="click()"></formless-button>
      <formless-button [text]="'Click'" [color]="'#15ca53'" [disabled]="true" (click)="click()"></formless-button>
      <formless-button [text]="'Click'" [color]="'#15ca53'" [inverse]="true" [disabled]="true" (click)="click()"></formless-button>
    </div>
    <div class="margin-top title">Custom/Dynamic Interior Buttons</div>
    <div class="margin-bottom">(component uses ng-context)</div>
    <div class="row">
      <formless-button [color]="'#15ca53'" [inverse]="inverse" [disabled]="disabled" (click)="click()">
        <i class="material-icons">{{buttonIcon}}</i>&nbsp;<div [innerHtml]="text ? text : 'DYNAMIC BUTTON'"></div>
      </formless-button>
      <formless-input [placeholder]="'Button Text'" (value)="text=$event"></formless-input>
      <div>Inverse: <formless-toggle (change)="inverse=$event"></formless-toggle></div>
      <div>Disabled: <formless-toggle (change)="disabled=$event"></formless-toggle></div>
    </div>
    <div class="row margin-top">
      <formless-radio
        value=""
        [groupValue]="buttonIcon"
        color="#15ca53"
        circle="true"
        size="24"
        (change)="buttonIcon=$event">
        No Icon
      </formless-radio>
      <formless-radio
        value="add"
        [groupValue]="buttonIcon"
        color="#15ca53"
        circle="true"
        size="24"
        (change)="buttonIcon=$event">
        Add Icon
      </formless-radio>
      <formless-radio
        value="email"
        [groupValue]="buttonIcon"
        color="#15ca53"
        circle="true"
        size="24"
        (change)="buttonIcon=$event">
        Email Icon
      </formless-radio>
      <formless-radio
        value="info_outline"
        [groupValue]="buttonIcon"
        color="#15ca53"
        circle="true"
        size="24"
        (change)="buttonIcon=$event">
        Info Icon
      </formless-radio>
    </div>
    <div class="title margin-top">Total Clicks: <span [innerHtml]="clicks"></span></div>
  </formless-card>
  <div style="margin: 24px 0 0;"></div>
  <formless-card>
    <formless-markdown-display [tabs]="buttonTabs"></formless-markdown-display>
  </formless-card>
  <div style="margin: 24px 0 0;"></div>
  <formless-card>
    <div class="title margin-bottom">Properties</div>
    <formless-properties-display [properties]="properties"></formless-properties-display>
  </formless-card>
</div>