.button {
  position: relative;

  .row {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
