.home {
  position: relative;

  .title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    font-size: 32px;
    margin: 24px 0;
  }

  .flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .row {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .pad-bottom {
    padding: 0 0 24px;
  }

  .solution {
    max-height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;

    &.show {
      max-height: 300px;
    }
  }
}
