<div class="home">
  <!-- ABOUT FORMLESS FORMS -->
  <div>
    <div class="heading">Formless Forms</div>
    <div>Formless Forms are a small Angular components library with the objective of providing components that can be combined in any fashion to create dynamic forms with validation that do not require html template forms. Formless Forms are flexible, dynamic, and extendable across frameworks / applications.</div>
    <div style="padding: 16px 0 0;">Please contribute anytime by submitting issues, pull requests, and/or by using this small components library in your projects. We would love to hear your feedback and welcome community contributions.</div>
  </div>
  <!-- WHY FORMLESS? -->
  <div>
    <div class="heading">Why Formless</div>
    <div>Simplicity is the key when it comes to formless form components. Any developer that has spent a short amount of time in Angular should be able to review the source code and come away with a clear understanding of how the components work.</div>
    <div style="padding: 16px 0 0;">You have our full permission to review and duplicate any and all code . With little effort you should be able to do a lot of customization for your forms using these components.</div>
    <div style="padding: 16px 0 0;">The overall objective of formless-forms has always been to simplify components, forms, and minimize code.</div>
  </div>
  <!-- GETTING STARTED -->
  <div>
    <div class="heading">Getting Started: 2 Step Installation</div>
    <div style="padding: 0 0 8px;">Step 1: npm install formless-forms package</div>
    <markdown [data]="npmCode"></markdown>
    <div style="padding: 16px 0 8px;">Step 2: import component module(s)</div>
    <markdown [data]="importCode"></markdown>
  </div>
  <!-- SAMPLE FORM -->
  <div>
    <div class="heading">Sample Form</div>
    <formless-card>
      <formless-input
        placeholder="Full Name"
        [init]="form.name"
        [dirty]="dirty"
        (value)="form.name=$event"
      ></formless-input>
      <formless-input
        placeholder="Email Address"
        email="true"
        [init]="form.email"
        [dirty]="dirty"
        (value)="form.email=$event"
      ></formless-input>
      <div class="pad-bottom">
        <div>How would you score this form from 1-100? (100 being the best form ever!)</div>
        <formless-slider
          [init]="form.score"
          [leftColor]="'#ffa000'"
          (updated)="form.score=$event"
        ></formless-slider>
      </div>
      <div class="row pad-bottom">
        <div>
          <div class="flex-row pad-bottom">
            <div style="padding-right: 24px">Are you human?</div>
            <formless-toggle [checked]="form.human" (change)="form.human=$event"></formless-toggle>
          </div>
          <div class="flex-row">
            <div style="padding-right: 24px">Accept the terms of service</div>
            <formless-checkbox
              [checked]="form.acceptedTerms"
              color="#ffa000"
              (change)="form.acceptedTerms=$event"
            ></formless-checkbox>
          </div>
        </div>
        <div>
          <div>Gender?</div>
          <formless-radio
            value="male"
            [groupValue]="form.gender"
            circle="true"
            color="#ffa000"
            (change)="form.gender=$event">
            Male
          </formless-radio>
          <formless-radio
            value="female"
            [groupValue]="form.gender"
            circle="true"
            color="#ffa000"
            (change)="form.gender=$event">
            Female
          </formless-radio>
          <formless-radio
            value="other"
            [groupValue]="form.gender"
            circle="true"
            color="#ffa000"
            (change)="form.gender=$event">
            Prefer not to be defined this way
          </formless-radio>
        </div>
      </div>
      <div class="row">
        <formless-button text="Cancel" color="#ffa000" inverse="true" (click)="clear();"></formless-button>
        <formless-button text="Submit" color="#ffa000" (click)="submit();"></formless-button>
      </div>
    </formless-card>
    <div style="margin: 24px 0 0;"></div>
    <formless-card>
      <formless-markdown-display [tabs]="homeForm" [startClosed]="true"></formless-markdown-display>
    </formless-card>
  </div>
  <!-- ADDITIONAL INFORMATION -->
  <div>
    <div class="heading">Additional Information</div>
    <div>This component library was developed with love by <a href="https://iangoldfarb.co">Ian Goldfarb</a> during his evenings and weekends. He has a life, but loves to code, and has run into too many confusing component libraries that are not fully comprehensible without devoting a lot of time to reading their source material.</div>
    <div style="padding: 16px 0 0;">If you have discovered a bug or have a feature suggestion, please create an issue on <a href="https://github.com/Superman2971/formless-forms">GitHub</a>.</div>
  </div>
</div>
