<div class="radio"
[class.left]="left"
(click)="clicked()">
  <div *ngIf="!left"
  class="checkbox"
  [class.checked]="checked"
  [class.circle]="circle"
  [style.color]="color"
  [style.height.px]="size"
  [style.min-height.px]="size"
  [style.min-width.px]="size"
  [style.width.px]="size">
    <span [style.background-color]="color"></span>
  </div>
  <ng-content></ng-content>
  <div *ngIf="left"
  class="checkbox left"
  [class.checked]="checked"
  [class.circle]="circle"
  [style.color]="color"
  [style.height.px]="size"
  [style.width.px]="size">
    <span [style.background-color]="color"></span>
  </div>
</div>
