<div class="root">
  <!-- NAV BAR -->
  <div class="nav">
    <i class="material-icons" (click)="openMenu = !openMenu">menu</i>
    <a routerLink="/home">Formless Forms</a>
    <a href="https://github.com/Superman2971/formless-forms">
      <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg" alt="github link">
      <span>GitHub</span>
    </a>
  </div>
  <div class="main">
    <!-- MENU BAR -->
    <div class="menu" [class.open]="openMenu">
      <a class="title" style="padding: 19px 0;" routerLink="/components">Components</a>
      <a routerLink="/button">Button</a>
      <a routerLink="/card">Card</a>
      <a routerLink="/checkbox">Checkbox</a>
      <a routerLink="/input">Input</a>
      <a routerLink="/radio">Radio</a>
      <a routerLink="/slider">Slider</a>
      <a routerLink="/toggle">Toggle</a>
    </div>
    <!-- SCROLLABLE PAGE -->
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

