<div class="main">
  <formless-standard-input
    placeholder="Email Address"
    email="true"
    init=""
    [dirty]="false"
    (value)="email=$event">
  </formless-standard-input>
  <div class="row">
    <formless-button icon="add" text="new button"></formless-button>
    <formless-button icon="info_outline" text="disabled button" disabled="true"></formless-button>
    <formless-button text="Color Button" color="#15ca53"></formless-button>
    <formless-button text="Disabled Color Button" color="#15ca53" disabled="true"></formless-button>
  </div>
  <formless-card>
    <formless-standard-input
      placeholder="Name"
      init="Ian Gold"
      [dirty]="false"
      (value)="name=$event">
    </formless-standard-input>
  </formless-card>
  <formless-card>
    <div>TESTING {{name}} {{email}}</div>
    <div class="row">
      <formless-button icon="add" text="new button"></formless-button>
      <formless-button icon="info_outline" text="disabled button" disabled="true"></formless-button>
      <formless-button text="Color Button" color="#15ca53"></formless-button>
      <formless-button text="Disabled Color Button" color="#15ca53" disabled="true"></formless-button>
    </div>
  </formless-card>
  <formless-card>
    <div class="row">
      <formless-toggle (change)="toggle1=$event"></formless-toggle>
      <div>Toggle 1: {{toggle1}}</div>
      <formless-toggle checked="true" (change)="toggle2=$event"></formless-toggle>
      <div>Toggle 2: {{toggle2}}</div>
    </div>
  </formless-card>
  <formless-card>
    <formless-slider
      (updated)="slider1=$event"
    ></formless-slider>
    <formless-slider
      [init]="150"
      [min]="50"
      [max]="500"
      [leftColor]="'rgba(0, 0, 0, 0.87)'"
      [rightColor]="'green'"
      [tooltip]="'tooltip information'"
      [tooltipColor]="'red'"
      (updated)="slider2=$event"
    ></formless-slider>
    <div class="row">
      <div>Slider #1: {{slider1}}</div>
      <div>Slider #2: {{slider2}}</div>
    </div>
  </formless-card>
  <formless-card>
    <formless-checkbox
      (change)="checkbox1=$event"
    ></formless-checkbox>
    <div style="padding: 24px 0 0;">
      <formless-checkbox
        [checked]="checkbox2"
        color="#ffa000"
        size="36"
        (change)="checkbox2=$event"
      ></formless-checkbox>
    </div>
    <div style="padding: 24px 0;">
      <formless-checkbox
        [checked]="checkbox3"
        color="#15ca53"
        size="16"
        (change)="checkbox3=$event"
      ></formless-checkbox>
    </div>
    <div class="row">
      <div>checkbox #1: {{checkbox1}}</div>
      <div>checkbox #2: {{checkbox2}}</div>
      <div>checkbox #3: {{checkbox3}}</div>
    </div>
  </formless-card>
</div>

