@import '../variables.scss';

.root {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding: 44px 0 0;

  .nav {
    align-items: center;
    background-color: $green;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    left: 0;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    i {
      cursor: pointer;
      display: none;
      font-size: 28px;

      @media (max-width: 980px) {
        display: block;
      }
    }

    a {
      align-items: center;
      display: flex;
      justify-content: center;

      img {
        height: 28px;
        padding: 0 8px 0 0;
      }
    }
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    .menu {
      align-items: center;
      background-color: #fff;
      box-shadow: $box-shadow-level-2;
      display: flex;
      flex-direction: column;
      left: 0;
      max-height: calc(100vh - 44px);
      min-height: calc(100vh - 44px);
      min-width: 300px;
      overflow: auto;
      position: fixed;
      top: 44px;
      transition: transform 0.5s;
      z-index: 1;

      @media (max-width: 980px) {
        transform: translateX(-300px);
      }

      &.open {
        transform: translateX(0);
      }

      a {
        cursor: pointer;
        padding: 24px 16px;
        width: 100%;

        &:hover {
          color: $green;
        }
      }

      .title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
        font-size: 20px;
        padding: 8px 0;
        text-align: center;
        width: 100%;
      }
    }

    .page {
      max-height: calc(100vh - 44px);
      overflow: scroll;
      padding: 0 24px 24px 324px;

      @media (max-width: 980px) {
        padding: 0 24px 24px;
      }
    }
  }
}
