<div class="root">
  <!-- NAV BAR -->
  <div class="nav">
    <i class="material-icons" (click)="openMenu = !openMenu">menu</i>
    <div>Formless Forms</div>
    <a href="https://github.com/Superman2971/formless-forms">
      <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg" alt="github link">
      <span>GitHub</span>
    </a>
  </div>
  <div class="main">
    <!-- MENU BAR -->
    <div class="menu" [class.open]="openMenu">
      <div class="title">Components</div>
      <a href="#button">Button</a>
      <a href="#card">Card</a>
      <a href="#checkbox">Checkbox</a>
      <a href="#slider">Slider</a>
      <a href="#input">Input</a>
      <a href="#toggle">Toggle</a>
      <a href="#radio">Radio</a>
    </div>
    <!-- SCROLLABLE PAGE -->
    <div class="page">
      <!-- ABOUT FORMLESS FORMS -->
      <div>
        <div class="title">Formless Forms</div>
        <div>what is formless? uhhhh Angular components.</div>
      </div>
      <!-- WHY FORMLESS? -->
      <div>
        <div class="title">Why Formless</div>
        <div>let me explain why formless forms over template forms, angular/reactive/dynamic forms?</div>
        <div>These components were built to be simple. You can read and duplicate the code without much effort and it should allow you to do a lot of customization for your forms. The objective is to simplify components, forms, and minimize code.</div>
      </div>
      <!-- BUTTON -->
      <div id="button" class="title">Button</div>
      <formless-card>
        <div class="row">
          <formless-button [disabled]="toggle" color="#15ca53" inverse="true">
            <i class="material-icons">add</i>
            <div>BUTTON</div>
          </formless-button>
          <formless-button text="{{text ? text : 'button'}}"><i class="material-icons">{{buttonIcon}}</i>&nbsp;</formless-button>
          <formless-button inverse="true"><i class="material-icons">add</i> INVERSE BUTTON</formless-button>
          <formless-button text="Color Button" color="#15ca53"></formless-button>
          <formless-button text="inverse Color Button" color="#15ca53" inverse="true"></formless-button>
          <formless-button text="{{toggle ? 'disabled' : 'enabled'}} button" [disabled]="toggle"><i class="material-icons">info_outline</i>&nbsp;</formless-button>
          <formless-button text="{{toggle ? 'disabled' : 'enabled'}} inverse button" [disabled]="toggle" inverse="true"><i class="material-icons">info_outline</i>&nbsp;</formless-button>
          <formless-button text="{{toggle ? 'disabled' : 'enabled'}} Color Button" color="#15ca53" [disabled]="toggle"></formless-button>
          <formless-button text="{{toggle ? 'disabled' : 'enabled'}} inverse  Color Button" color="#15ca53" [disabled]="toggle" inverse="true"></formless-button>
        </div>
        <div class="row margin-top">
          <formless-toggle (change)="toggle=$event"></formless-toggle>
          <div>Disable Buttons: {{toggle}}</div>
          <formless-radio
            value=""
            [groupValue]="buttonIcon"
            color="#15ca53"
            circle="true"
            size="24"
            checked="true"
            (change)="buttonIcon=$event">
            No Icon
          </formless-radio>
          <formless-radio
            value="add"
            [groupValue]="buttonIcon"
            color="#15ca53"
            circle="true"
            size="24"
            (change)="buttonIcon=$event">
            Add Icon
          </formless-radio>
          <formless-radio
            value="email"
            [groupValue]="buttonIcon"
            color="#15ca53"
            circle="true"
            size="24"
            (change)="buttonIcon=$event">
            Email Icon
          </formless-radio>
          <formless-radio
            value="info_outline"
            [groupValue]="buttonIcon"
            color="#15ca53"
            circle="true"
            size="24"
            (change)="buttonIcon=$event">
            Info Icon
          </formless-radio>
          <!-- <div>
            <span>Email Icon:</span>
            <formless-checkbox
              (change)="icon=($event ? 'email' : '')"
            ></formless-checkbox>
          </div>
          <div>
            <span>Add Icon:</span>
            <formless-checkbox
              (change)="icon=($event ? 'add' : '')"
            ></formless-checkbox>
          </div>
          <div>
            <span>Info Icon:</span>
            <formless-checkbox
              (change)="icon=($event ? 'info_outline' : '')"
            ></formless-checkbox>
          </div> -->
          <formless-input
            placeholder="Button Text"
            (value)="text=$event">
          </formless-input>
        </div>
        <formless-markdown-display [tabs]="buttonTabs"></formless-markdown-display>
      </formless-card>
      <!-- CARD -->
      <div id="card" class="title">Card</div>
      <formless-card>
        <div>BASIC FORMLESS CARD</div>
      </formless-card>
      <!-- CHECKBOX -->
      <div id="checkbox" class="title">Checkbox</div>
      <formless-card>
        <formless-checkbox
          (change)="checkbox1=$event"
        ></formless-checkbox>
        <div style="padding: 24px 0 0;">
          <formless-checkbox
            [checked]="checkbox2"
            color="#ffa000"
            size="36"
            (change)="checkbox2=$event"
          ></formless-checkbox>
        </div>
        <div style="padding: 24px 0;">
          <formless-checkbox
            [checked]="checkbox3"
            color="#15ca53"
            size="16"
            (change)="checkbox3=$event"
          ></formless-checkbox>
        </div>
        <div class="row">
          <div>checkbox #1: {{checkbox1}}</div>
          <div>checkbox #2: {{checkbox2}}</div>
          <div>checkbox #3: {{checkbox3}}</div>
        </div>
      </formless-card>
      <!-- SLIDER -->
      <div id="slider" class="title">Slider</div>
      <formless-card>
        <formless-slider
          (updated)="slider1=$event"
        ></formless-slider>
        <formless-slider
          [init]="150"
          [min]="50"
          [max]="500"
          [leftColor]="'rgba(0, 0, 0, 0.87)'"
          [rightColor]="'green'"
          [tooltip]="'tooltip information'"
          [tooltipColor]="'red'"
          (updated)="slider2=$event"
        ></formless-slider>
        <div class="row">
          <div>Slider #1: {{slider1}}</div>
          <div>Slider #2: {{slider2}}</div>
        </div>
      </formless-card>
      <!-- INPUT -->
      <div id="input" class="title">Input</div>
      <formless-card>
        <div>Input Results: {{name}} {{email}} {{email2}} {{text}} {{moretext}} {{phone}}</div>
        <formless-input
          placeholder="Name"
          init="Ian Gold"
          [dirty]="false"
          (value)="name=$event"
        ></formless-input>
        <formless-input
          placeholder="Email Address"
          email="true"
          [dirty]="false"
          (value)="email=$event"
        ></formless-input>
        <formless-input
          placeholder="Email Address Again"
          [matchThis]="email"
          [dirty]="false"
          (value)="email2=$event"
        ></formless-input>
        <formless-input
          placeholder="Password"
          hiddenType="true"
          [dirty]="false"
          (value)="password=$event"
        ></formless-input>
        <formless-input
          init="Custom Styled Input"
          [optionalStyles]="{'min-height': 0}"
          [inputStyles]="{'border': '1px solid #D5DAE5',	'border-radius': '2px', 'font-size': '12px',	'font-weight': '500', 'height': '36px', 'margin': 0, 'padding': '0 0 0 16px'}"
        ></formless-input>
        <formless-input
          textarea="true"
          placeholder="Text Area 1"
          [dirty]="false"
          (value)="text=$event"
        ></formless-input>
        <formless-input
          textarea="true"
          placeholder="Text Area 2"
          rows="7"
          init="Lots of interesting information can be placed here!"
          [dirty]="false"
          (value)="moretext=$event"
        ></formless-input>
        <formless-input
          placeholder="Phone Custom Regex"
          regex="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$"
          regexMessage="does not match the pattern for a phone number"
          (value)="phone=$event"
        ></formless-input>
      </formless-card>
      <!-- TOGGLE -->
      <div id="toggle" class="title">Toggle</div>
      <formless-card>
        <div class="row">
          <formless-toggle (change)="toggle1=$event"></formless-toggle>
          <div>Toggle 1: {{toggle1}}</div>
          <formless-toggle checked="true" (change)="toggle2=$event"></formless-toggle>
          <div>Toggle 2: {{toggle2}}</div>
        </div>
      </formless-card>
      <!-- RADIO -->
      <div id="radio" class="title">Radio</div>
      <formless-card>
        <div class="row">
          <formless-radio
            value="first"
            [groupValue]="radio1"
            color="#15ca53"
            circle="true"
            (change)="radio1=$event">
            something big
          </formless-radio>
          <formless-radio
            value="second"
            [groupValue]="radio1"
            color="#15ca53"
            left="true"
            size="32"
            (change)="radio1=$event">
            something bigger
          </formless-radio>
          <formless-radio
            value="third"
            [groupValue]="radio1"
            [checked]="true"
            circle="true"
            (change)="radio1=$event">
            something biggest
          </formless-radio>
          <div>radio 1: {{radio1}}</div>
        </div>
      </formless-card>
      <!-- ADDITIONAL INFORMATION -->
      <div>
        <div class="title">Additional Information</div>
        <div>Contact me</div>
        <div>Add issues or Pull Requests to the github and we can add more to the project</div>
        <div>Currently only build as an npm module for Angular projects, but would be interested in buildingthese into elements, but unsure of the value, please reach out if you think that would be of interest</div>
      </div>
    </div>
  </div>
</div>

