<div class="radio">
  <div id="radio" class="heading">Radio</div>
  <formless-card>
    <div class="row">
      <formless-radio
        value="first"
        [groupValue]="radio1"
        color="#15ca53"
        circle="true"
        (change)="radio1=$event">
        something big
      </formless-radio>
      <formless-radio
        value="second"
        [groupValue]="radio1"
        color="#15ca53"
        left="true"
        size="32"
        (change)="radio1=$event">
        something bigger
      </formless-radio>
      <formless-radio
        value="third"
        [groupValue]="radio1"
        [checked]="true"
        circle="true"
        (change)="radio1=$event">
        something biggest
      </formless-radio>
    </div>
    <div style="margin: 24px 0 0;"></div>
    <div>radio 1: {{radio1}}</div>
  </formless-card>
  <div style="margin: 24px 0 0;"></div>
  <formless-card>
    <formless-markdown-display [tabs]="code"></formless-markdown-display>
  </formless-card>
  <div style="margin: 24px 0 0;"></div>
  <formless-card>
    <div class="title margin-bottom">Properties</div>
    <formless-properties-display [properties]="properties"></formless-properties-display>
  </formless-card>
</div>
